<%= form_with(model: movie, local: false) do |form| %>

  <td class="field">
    <%= form.text_field :title %>
  </td>

  <td class="field">
    <%= form.text_area :description %>
  </td>

  <td class="field">
    <%= form.number_field :duration %>
  </td>

  <td class="field">
    <%= form.number_field :year %>
  </td>

  <td class="field">
    <%= form.text_field :director_id %>
  </td>

  <td class="actions">
    <%= form.submit %>
  </td>
<% end %>